body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #0e1e25;
  color: white;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
}

footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}
.badges img {
  margin: 5px;
  height: 40px;
}
#contact {
  background-color: #f4f4f4;
  padding: 40px 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

#contact h2 {
  margin-bottom: 10px;
}

#contact a {
  color: #3366cc;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}
